
%h1 Comments

#comments
  = render :partial => 'photos/comment', :collection => @comments

/ .apple_pagination
.flickr_pagination
  .page_info= page_entries_info @comments
  = will_paginate @comments, :container => false