#photo= image_tag @photo.address.url(:small)
#like-it
  - if @photo.users.include?(current_user)
    like_it
  - else
    = render 'like_form'
- if @photo.comments.count > 0
  = render 'comments'
= render 'comment_form'