%h1= @name.capitalize

#photos
  - @photos.each do |p|
    .photo-box
      .photo
        = link_to image_tag( p.address.url(:thumb) ), photo_show_path(:name => @name, :id => p.id)
      .like
        - if p.users.include?(current_user)
          like_it
        - else 
          &nbsp;

/ .apple_pagination
.flickr_pagination
  .page_info= page_entries_info @photos
  = will_paginate @photos, :container => false